body{
    font-family: Verdana,sans-serif;
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;
}
h1{
    font-variant: all-petite-caps;
    background-color: red;
}
a:hover{
    border: solid;
    border-radius: 30px;
}
.stippeltjesrand{
    border: 1px dotted;
    padding: 10px;
    display: inline-block;

}